@import "~styles/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  color: $dark;
  .heading {
    font-weight: bold;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  .actions {
    > p {
      margin: 0;
    }
  }
}
