@import "~styles/colors";

.imagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .imageItem {
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    img {
      height: 12rem;
    }
  }
}

.imageBackground {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat center center fixed;
  background-size: cover;
}

.galleryControls {
  top: 50%;
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-color: $dark;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &__prev {
    left: 0;
    transform: translate(0.5rem, -3.5rem);
  }
  &__next {
    right: 0;
    transform: translate(-0.5rem, -3.5rem);
  }

  > svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.formContainer {
  color: $dark;
  background-color: $white;
  margin: 1rem 3rem;
  padding: 1rem;
  > h3 {
    margin-top: 0;
    font-size: 1rem;
  }
}
