.imagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .imageItem {
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    img {
      height: 12rem;
    }
  }
}

.imageBackground {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat center center fixed;
  background-size: cover;
}
