$font-size: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$navbar-height: 60px;
$grid-size: 10px;
$layout-width: 1000px;
$breakpoint-mobile: 576px;
$breakpoint-tabler: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
